-- Database Schema Changes for Intentions System
-- ==============================================

-- OLD STRUCTURE (what we had before):
-- current_intentions table: Single row with 4 text fields (power, passion, purpose, production)
-- intention_stats table: Single row with overall streak data

-- NEW STRUCTURE (what we have now):
-- daily_intentions table: One row per pillar per day (normalized)
-- intention_stats table: One row per pillar (per-pillar streak tracking)

-- Let's examine the current database state:

-- 1. NEW DAILY_INTENTIONS TABLE STRUCTURE
-- This table stores one row per pillar per day (normalized approach)
SELECT 
    'daily_intentions table structure' as info,
    column_name,
    data_type,
    is_nullable,
    column_default
FROM information_schema.columns 
WHERE table_name = 'daily_intentions' 
ORDER BY ordinal_position;

-- 2. CURRENT DATA IN daily_intentions (last 10 days)
SELECT 
    date,
    pillar,
    intention,
    completed,
    created_at,
    updated_at
FROM daily_intentions 
ORDER BY date DESC, pillar 
LIMIT 40;

-- 3. NEW INTENTION_STATS TABLE STRUCTURE  
-- This table now has one row per pillar (per-pillar streak tracking)
SELECT 
    'intention_stats table structure' as info,
    column_name,
    data_type,
    is_nullable,
    column_default
FROM information_schema.columns 
WHERE table_name = 'intention_stats' 
ORDER BY ordinal_position;

-- 4. CURRENT STREAK DATA PER PILLAR
SELECT 
    pillar,
    current_streak,
    longest_streak,
    last_completed_date,
    updated_at
FROM intention_stats 
ORDER BY pillar;

-- 5. RECENT COMPLETION PATTERN (last 7 days)
SELECT 
    date,
    COUNT(CASE WHEN completed = true THEN 1 END) as completed_count,
    COUNT(*) as total_intentions,
    STRING_AGG(CASE WHEN completed = true THEN pillar END, ', ') as completed_pillars
FROM daily_intentions 
WHERE date >= CURRENT_DATE - INTERVAL '7 days'
GROUP BY date 
ORDER BY date DESC;

-- 6. PILLAR COMPLETION RATES (last 30 days)
SELECT 
    pillar,
    COUNT(CASE WHEN completed = true THEN 1 END) as completed_days,
    COUNT(*) as total_days,
    ROUND(
        COUNT(CASE WHEN completed = true THEN 1 END) * 100.0 / COUNT(*), 
        1
    ) as completion_rate_percent
FROM daily_intentions 
WHERE date >= CURRENT_DATE - INTERVAL '30 days'
GROUP BY pillar 
ORDER BY completion_rate_percent DESC;

-- 7. ACTIVE STREAKS (only show pillars with current streaks > 0)
SELECT 
    pillar,
    current_streak,
    CASE 
        WHEN current_streak = 1 THEN '🔥'
        WHEN current_streak > 1 THEN current_streak || 'x 🔥'
        ELSE '❄️'
    END as streak_display,
    last_completed_date,
    updated_at
FROM intention_stats 
WHERE current_streak > 0
ORDER BY current_streak DESC;

-- 8. TODAY'S INTENTIONS STATUS
SELECT 
    pillar,
    intention,
    completed,
    CASE WHEN completed THEN '✅' ELSE '⏳' END as status_emoji,
    created_at,
    updated_at
FROM daily_intentions 
WHERE date = CURRENT_DATE
ORDER BY pillar;

-- 9. COMPARISON: OLD vs NEW DATA STRUCTURE
-- This shows how the data is now normalized vs the old approach
SELECT 
    'OLD APPROACH (current_intentions):' as approach,
    'Single row with power, passion, purpose, production columns' as structure
UNION ALL
SELECT 
    'NEW APPROACH (daily_intentions):',
    'One row per pillar per day with date, pillar, intention, completed columns';

-- 10. N8N INTEGRATION CONSIDERATIONS
-- These are the key changes that affect N8N flows:
SELECT 
    'N8N IMPACT ANALYSIS:' as category,
    'Date-based queries now use DATE type (timezone-safe)' as change,
    'Each pillar has independent streak tracking' as benefit,
    'Completion status is per-pillar per-day' as structure,
    'Frontend uses local timezone for date operations' as timezone_note;