@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide placeholder for empty date inputs */
input.date-empty::-webkit-datetime-edit-fields-wrapper { color: transparent; }
input.date-empty::-webkit-datetime-edit { color: transparent; }
input.date-empty::-webkit-datetime-edit-year-field { color: transparent; }
input.date-empty::-webkit-datetime-edit-month-field { color: transparent; }
input.date-empty::-webkit-datetime-edit-day-field { color: transparent; }
input.date-empty::-webkit-input-placeholder { color: transparent; }
input.date-empty::-moz-placeholder { color: transparent; }
input.date-empty:-ms-input-placeholder { color: transparent; }
input.date-empty::placeholder { color: transparent; }